html {
  margin: 0 auto;
  min-height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  background: crimson;
  color: white;

}

#headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0);
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
  border-bottom: 3px solid white;
  z-index: 1;
}


h1 {
  margin: 0 auto;
}

/* #root {
  max-width: 1500px;
  margin: 0 auto;
} */

/* 
#mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  background-color: #9f5454;
  width: 800px;
  margin: 0 auto;
  padding-top: 80px;
  box-shadow: 0 10px 75px rgba(0, 0, 0, 0.8);
}

.beasts {
  border: thin solid black;
  border-radius: 5px;
  padding: 0 40px;
  padding-bottom: 12px;
  margin: 25px;
  background-color: #000000;
}

#imgBeasts {
  max-width: 440px;
  border: 7px solid rgb(143, 51, 51);
  transition: 0.5s;
  z-index: -1;
}

#imgBeasts:hover {
  border: 7px solid rgb(164, 96, 96);
  transform: scale(1.03);
  z-index: -1;
} */

#footerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 0, 0);
  color: white;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}


#footerDiv p {
  margin: 0 auto;
}
